#loginTitle {
    text-align: center;
    font-size: 8.5vw;
    margin-top: 7vh;
}

#loginForm {
    margin: 8vh 13vw 1vh 13vw;
}

#loginForm > label {
    font-size: 7.5vw;
}

#loginForm > input {
    font-size: 7.5vw;
    height: fit-content;
    width: 60vw;
    margin-bottom: 3.5vh;
}

input #loginButn {
    display: block;
    margin: 0 auto;
    font-size: 7.5vw;
    margin-bottom: 10vh;
}

#loginOther {
    font-size: 7vw;
    margin-left: 5vw;
    line-height: 2.5vh;
}

#regisLink {
    font-size: 7.5vw;
    color: rgb(111, 0, 155);
    font-style: italic;
    text-decoration: none;
    float: right;
    margin-right: 12vw;
    margin-top: 0.7vh;
}

#regisLink:hover {
    text-decoration: underline;
}