#backArrow {
    height: 16vw;
    float: left;
    margin-top: -4.5vh;
}

#backArrow_none {
    height: 15vw;
    float: right;
    margin-top: -4.5vh;
    visibility: hidden;
}

#registerTitle {
    font-size: 9vw;
    margin-top: 5.5vh;
    text-align: center;
    margin-left: 0.5vw;
}

#registerForm {
    margin: 5vh 11vw 1vh 11vw;
}

#registerForm > label {
    font-size: 6.7vw;
}

#registerForm > input {
    font-size: 6.5vw;
    height: fit-content;
    width: 66vw;
    margin-bottom: 1.7vh;
}

#registerButn {
    display: block;
    margin: 0 auto;
    margin-top: 1.3vh;
    font-size: 7vw;
}