#tlheader {
    text-align: center;
    font-size: 8.8vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.taskListBtn {
    display: block;
    margin: 4vh auto;
    margin-top: 1.3vh;
    font-size: 6vw;
    width: 70vw;
    height: 15vh;
}